@import "tailwindcss";

body {
    font-family: 'Montserrat', Arial, sans-serif;
    background-color: #000; /* Black background for a clean look */
    color: #fff; /* White text for contrast */
  }

.ant-layout {
    background: #f0f2f5;
  }
  
  .ant-layout-header {
    padding: 0 24px;
    height: 64px;
    line-height: 64px;
  }
  
  .ant-card {
    border-radius: 8px;
  }
  
  .ant-space {
    width: 100%;
  }
  
  .map-container {
    height: 70vh;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
  }